:root{
    --color-gray:dimgray;
    --color-white:whitesmoke;

    --size-img:40px;
    --size-big-margin:50px;
    --size-small-margin:5px;
    --size-small-widHi:10%;
    --size-medium-widHi:60%;

    --animation-duration:300ms;
}

*{
    margin:0;
    padding:0;
}

body{
    background-color:var(--color-gray);
}


img{
    width: var(--size-img);
    height: var(--size-img);
}

header{
    margin:auto;
    text-align:center;
}


nav{
    display: flex;
    justify-content: center;
}

.style{
    margin-right: var(--size-big-margin);
}

.list_item{
    margin:auto;
    margin-top: var(--size-small-margin);
    padding:var(--size-small-margin);
    width:var(--size-medium-widHi);
    height:var(--size-small-widHi);
    background-color: var(--color-white);
    display:flex;
    align-items:center;
    

}

.item_img{
    margin-left:var(--size-small-margin);
    margin-right:var(--size-small-margin);
}



li{
    list-style-type: none;
}

.Btn{
    cursor:pointer;
    transition: transform var(--animation-duration) ease-in;
}

.Btn:hover{
    transform:scale(1.1);
}

.logo{
    width:var(--size-small-widHi);
    height:var(--size-small-widHi);
}